[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/entony80
[access "refs/for/refs/*"]
	read = group user/entony80
	push = group user/entony80
	label-Code-Review = -2..+2 group user/entony80
	label-Verified = -1..+1 group user/entony80
	rebase = group user/entony80
	removeReviewer = group user/entony80
	submit = group user/entony80
[access "refs/heads/*"]
	read = group user/entony80
	create = group user/entony80
	push = +force group user/entony80
	pushMerge = group user/entony80
[access "refs/tags/*"]
	push = +force group user/entony80
	pushTag = group user/entony80
	pushSignedTag = group user/entony80
